{% extends "base.html" %}

{% block additional_head %}
    <style>
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }

        a.tks {
            text-decoration: none !important;
        }
    </style>
    <script src="/static/js/watchlist.js"></script>
{% endblock %}


{% block content %}
    <div>
        <center><img src="/static/pic/500.png" style="width:200px;height:200px;"></center>
        <center><h4>500: Oops! Something went wrong :( </h4></center>
    </div>
{% endblock %}