{% extends "base.html" %}

{% block additional_head %}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/d3.layout.cloud.js"></script>
    <script src="/static/js/watchlist.js"></script>

    <style>
        .spinner {
            margin: 100px auto;
            width: 50px;
            height: 40px;
            text-align: center;
            font-size: 10px;
        }

        .spinner > div {
            background-color: #2780e3;
            height: 100%;
            width: 6px;
            display: inline-block;

            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }

        .spinner .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }

        .spinner .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        .spinner .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }

        .spinner .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }

        @-webkit-keyframes sk-stretchdelay {
            0%, 40%, 100% {
                -webkit-transform: scaleY(0.4)
            }
            20% {
                -webkit-transform: scaleY(1.0)
            }
        }

        @keyframes sk-stretchdelay {
            0%, 40%, 100% {
                transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);
            }
            20% {
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
    </style>
{% endblock %}

{% block content %}
    <style>
        ul {
            text-align: left;
        }

        .company-logo {
            display: block;
            margin: auto;
            max-width: 130px;
            max-height: 130px;
        }
    </style>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="row">
        <div class="col-md-4">
            <img class="company-logo" src="{{ wiki.image }}">
        </div>

        <div class="col-md-8">
            <h4 id="add_fav">{{ wiki.name }}
                <button class="btn btn-primary btn-xs pull-right" type="button" id="add_ticker">
                    <span class="glyphicon glyphicon-pushpin"></span>
                    <span id="button-text">Add to Watchlist</span>
                </button>
            </h4>
            <p>{{ wiki.article }}</p>
            Link to Wikipedia:
            <a href="{{ wiki.url }}">{{ wiki.url }}</a>
        </div>
    </div>

    <!-- TradingView Widget BEGIN -->
    <div class="row">
        <div class="col-xs-12">
            <div id="hi-man"></div>
        </div>
    </div>

    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
    <script type="text/javascript">
        new TradingView.MediumWidget({
            "container_id": "hi-man",
            "symbols": [
                "{{ ticker }}"
            ],
            "gridLineColor": "#e9e9ea",
            "fontColor": "#83888D",
            "underLineColor": "#dbeffb",
            "trendLineColor": "#4bafe9",
            "width": "100%",
            "height": "350px",
            "locale": "en"
        });
    </script>
    <!-- TradingView Widget END -->

    <!-- News & Summarization Widget -->
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-menu-up"></span>
                        Relevant News Media
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </div>
                </div>
                <div class="panel-body" id="modules-news-body">
                    {% include 'include/loading.html' %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-menu-up"></span>
                        Word Cloud
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </div>
                </div>
                <div class="panel-body" id="modules-wordcloud-body">
                    {% include 'include/loading.html' %}
                </div>
            </div>
        </div>


        {#  left column #}

        <!-- Social Mention Widget -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-menu-up"></span>
                        Sentiment Score
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </div>
                </div>
                <div class="panel-body" id="modules-sentiment-body">
                    {% include 'include/loading.html' %}
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-menu-up"></span>
                        Relevant Stock Tickers
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </div>
                </div>
                <div class="panel-body list-group" style="padding: 0" id="modules-relevant-body">
                    {% include 'include/loading.html' %}
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-menu-up"></span>
                        Social Mentions in Twitter
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </div>
                </div>
                <div class="panel-body" style="overflow-y: scroll; height:400px;" id="modules-tweets-body">
                    {% include 'include/loading.html' %}
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-menu-up"></span>
                        Facebook Page
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="fb-page" data-href="https://www.facebook.com/apple/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/apple/" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/apple/">APPLE</a></blockquote>
                    </div>
                </div>
            </div>


        </div>


    </div>

    <script>
        $(function () {
            $('.panel-heading').on("click", function (e) {
                if ($(this).hasClass('panel-collapsed')) {
                    $(this).parents('.panel').find('.panel-body').slideDown();
                    $(this).removeClass('panel-collapsed');
                    $(this).find('span.glyphicon-menu-down').removeClass('glyphicon-menu-down').addClass('glyphicon-menu-up');
                } else {
                    $(this).parents('.panel').find('.panel-body').slideUp();
                    $(this).addClass('panel-collapsed');
                    $(this).find('span.glyphicon-menu-up').removeClass('glyphicon-menu-up').addClass('glyphicon-menu-down');
                }
            });
            $('.glyphicon-remove').on('click', function () {
                $(this).parents('.panel').fadeOut();
            });

            // add to watchlist
            var wl = watchList();

            function disableButton($btn) {
                $btn.addClass("disabled").children("#button-text").text("In Watchlist");
            }

            if (wl.getList().indexOf("{{ ticker }}") !== -1)
                disableButton($("#add_ticker"));

            $('#add_ticker').on("click", function (e) {
                if ($(this).hasClass("disabled"))
                    return;
                var inputValue = "{{ ticker }}".toUpperCase();
                wl.addToList(inputValue);
                disableButton($(this));
            });
        });
    </script>

    <script>
        $(function () {
            function draw_wordcloud(frequency_list) {
                var enclosing_div = document.getElementById('wordcloud');
                var container_width = enclosing_div.clientWidth;

                var color = d3.scale.linear()
                    .domain([0, 1, 2, 3, 4, 5, 6, 10, 15, 20, 100])
                    .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);

                d3.layout.cloud().size([container_width - 50, 400 - 50])
                    .words(frequency_list)
                    .rotate(0)
                    .fontSize(function (d) {
                        return d.size;
                    })
                    .on("end", draw)
                    .start();

                function draw(words) {
                    d3.select("#wordcloud").append("svg")
                        .attr("width", container_width)
                        .attr("height", 400)
                        .attr("class", "wordcloud")
                        .append("g")
                        // without the transform, words words would get cutoff to the left and top, they would
                        // appear outside of the SVG area
                        .attr("transform", "translate(" + (container_width / 2 - 80) + ", 200)")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", function (d) {
                            return d.size + "px";
                        })
                        .style("fill", function (d, i) {
                            return color(i);
                        })
                        .attr("transform", function (d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function (d) {
                            return d.text;
                        });
                }
            }


            var ajax_data = {ticker: '{{ ticker }}'};

            $.get('{{ url_for('modules_news') }}', ajax_data, function (data) {
                $('#modules-news-body').html(data);
            });

            $.get('{{ url_for('modules_wordcloud') }}', ajax_data, function (data) {
                $('#modules-wordcloud-body').html('<div id="wordcloud"></div>');
                draw_wordcloud(data);
            });
            $.get('{{ url_for('modules_sentiment') }}', ajax_data, function (data) {
                $('#modules-sentiment-body').html(data);
            });
            $.get('{{ url_for('modules_relevant') }}', ajax_data, function (data) {
                $('#modules-relevant-body').html(data);
            });
            $.get('{{ url_for('modules_tweets') }}', ajax_data, function (data) {
                $('#modules-tweets-body').html(data);
            });
        });
    </script>
{% endblock %}
