{% extends "base.html" %}

{% block content %}

    <div class="starter-template">
        <h1>Ticker Watcher</h1>
        <p class="lead">A Dashboard Demonstration for Efficient Market Research</p>
    </div>

    <div class="col-md-8 col-md-offset-2">
    <form action="{{ url_for('summarize') }}" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Get Started by Inputting a Ticker Name" name="ticker">
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit"> Search </button>
        </span>
        </div>
    </form>
    </div>


{% endblock %}