{% extends "base.html" %}

{% block additional_head %}
    <style>
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }

        a.tks {
            text-decoration: none !important;
        }
    </style>
    <script src="/static/js/watchlist.js"></script>
{% endblock %}

{% block content %}

    <div class="starter-template">
        <h1>Ticker Watcher</h1>
        <p class="lead">A Dashboard Demonstration for Efficient Market Research</p>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="{{ url_for('summarize') }}" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Get Started by Inputting a Ticker Name"
                               name="ticker" id="myInput">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-xs">Search</span>
                            </button>
                            <button class="btn btn-primary" type="button" id="add_ticker">
                                <span class="glyphicon glyphicon-pushpin"></span>
                                <span class="hidden-xs">Add to Watchlist</span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ticker Watchlist</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody id="watchlist">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <!-- TradingView Widget BEGIN -->
            <div id="comparison-widget"></div>
            <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
        </div>
    </div>


    <script>
        $(function () {
{#            var watchlist = JSON.parse(localStorage.getItem("tickerlst")) || [];#}
            var wl = watchList();

            // front end
            function appendToFrontWatchList(ticker) {
                var tr = document.createElement("tr");
                var td = document.createElement("td");
                var td2 = document.createElement("td");
                td.innerHTML = '<a class="tks" href="/summarize/?ticker=' + ticker + '">' + ticker + '</a>';
                td2.innerHTML = "<span class=\"glyphicon glyphicon-eye-close\"></span>";
                $(td2).children("span").on("click", function () {
                    $(this).parents("tr").remove();
                    wl.deleteFromList(ticker);
                    comparisonWidget();
                });
                tr.appendChild(td);
                tr.appendChild(td2);
                document.getElementById("watchlist").appendChild(tr);
            }

            //backend
            function addToWatchList(ticker) {
                if (ticker === '') {
                    alert("You must write something!");
                    return;
                } else if (wl.getList().indexOf(ticker) !== -1) {
                    alert("You've already added it to your watchlist!");
                    return;
                }
                appendToFrontWatchList(ticker);
                wl.addToList(ticker);
            }

            function comparisonWidget() {
                if (wl.getList().length === 0) {
                    $("#comparison-widget").html("");
                    return;
                }
                new TradingView.MediumWidget({
                    "container_id": "comparison-widget",
                    "symbols": wl.getList(),
                    "gridLineColor": "#e9e9ea",
                    "fontColor": "#83888D",
                    "underLineColor": "#dbeffb",
                    "trendLineColor": "#4bafe9",
                    "width": "100%",
                    "height": "350px",
                    "locale": "en"
                });
            }

            for (var i=0; i<wl.getList().length; i++)
                appendToFrontWatchList(wl.getList()[i]);

            comparisonWidget();

            $('#add_ticker').on("click", function (e) {
                var inputValue = $('#myInput').val().toUpperCase();
                addToWatchList(inputValue);
                $("#myInput").val("");
                comparisonWidget();
            });
        });
    </script>


{% endblock %}